* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

/* Các thuộc tính tái sử dụng */

.clear {
  clear: both;
}

.row {
  margin-left: 8px;
  margin-right: 8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

/* Các thuộc tính riêng lẻ */

#header {
  position: absolute;
  height: 56px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  z-index: 9;
  font-weight: 600;
}

.logo {
  font-size: 1.05rem;
  letter-spacing: 1px;
  margin-right: 1rem;
  display: block;
}

.logo a {
  color: #eee;
  text-decoration: none;
}

.nav {
  display: block;
}

.navbar {
  text-transform: capitalize;
  font-size: 1rem;
}

.navbar a {
  color: #eee;
  margin: 0 0.5rem;
  text-decoration: none;
}

.login {
  background: #eee;
  padding: 0.25rem;
  border-radius: 15px;
  width: 50px;
  display: grid;
  place-items: center;
  text-transform: capitalize;
}

.login-btn {
  display: flex;
}

.login-btn a {
  font-size: 0.8rem;
  color: #222;
  text-decoration: none;
}

.background {
  height: 50vh;
  min-height: 100%;
  width: 100%;
  background: #404eed;
  position: relative;
  background-position: center;
  background-image: url(/assets/e6d57714479874c665b36c7adee76b1d.png);
  background-size: cover;
  display: grid;
  place-items: center;
}

.left,
.right {
  width: 100%;
}

.left img {
  transform: translate(-50%);
  position: absolute;
  bottom: 0;
  left: 23%;
  height: 56%;
}

.right img {
  position: absolute;
  bottom: 0;
  right: 12%;
  height: 56%;
}

.inner {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: #eee;
}

.inner h2 {
  letter-spacing: 3px;
  margin: 1rem 0;
  font-size: 2.4rem;
}

.inner p {
  line-height: 1.6;
  font-size: 0.9rem;
}

.download {
  display: flex;
  flex-direction: row;
  margin: 32px 0;
}

.btn {
  min-width: 200px;
  width: 100%;
  background: #fff;
  min-height: 40px;
  max-width: 200px;
  padding: 0.25rem;
  color: #222;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 0.95rem;
  cursor: pointer;
  text-align: center;
  margin: 8px;
  padding: 4px;
}

.btn i {
  padding: 4px;
}

.browser {
  min-width: 200px;
  width: 100%;
  background: #222;
  min-height: 40px;
  max-width: 200px;
  padding: 0.25rem;
  color: #eee;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 0.95rem;
  cursor: pointer;
  text-align: center;
  margin: 8px;
  padding: 4px;
}
