* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

/* Các thuộc tính tái sử dụng */

.clear {
  clear: both;
}

/* .row {
  margin-left: 8px;
  margin-right: 8px;
} */

/* .col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
} */

/* Các thuộc tính riêng lẻ */

/* Header và Carousel */

#header {
  height: 56px;
  width: 100%;
  font-weight: 600;
  display: grid;
  position: absolute;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  place-items: center;
  z-index: 9;
}

.logo {
  margin-right: 1rem;
  font-size: 1.05rem;
  letter-spacing: 1px;
}

.logo a {
  color: #eee;
  text-decoration: none;
}

.nav {
  display: block;
}

.navbar a {
  color: #eee;
  margin: 0 0.5rem;
  text-decoration: none;
}

.login {
  width: 50px;
  padding: 0.25rem;
  background: #eee;
  border-radius: 15px;
  display: grid;
  place-items: center;
}

.login-btn {
  display: flex;
}

.login-btn a {
  font-size: 0.8rem;
  text-decoration: none;
}

.background {
  height: 50vh;
  background: #404eed;
  position: relative;
  background-position: center;
  background-image: url(/assets/e6d57714479874c665b36c7adee76b1d.png);
  background-size: cover;
}

.left,
.right {
  width: 100%;
}

.left img {
  height: 56%;
  transform: translate(-50%);
  position: absolute;
  bottom: 0;
  left: 23%;
}

.right img {
  height: 56%;
  position: absolute;
  bottom: 0;
  right: 12%;
}

.inner {
  max-width: 400px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: #eee;
}

.inner h2 {
  margin: 1rem 0;
  letter-spacing: 3px;
  font-size: 2.4rem;
}

.inner p {
  line-height: 1.6;
  font-size: 0.9rem;
}

.download {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
}

.btn {
  max-width: 200px;
  margin: 8px;
  padding: 0.25rem;
  background: #fff;
  border: none;
  border-radius: 25px;
  font-size: 0.95rem;
  cursor: pointer;
}

.btn i {
  padding: 4px;
}

.browser {
  max-width: 200px;
  margin: 8px;
  background: #222;
  color: #eee;
  border: none;
  border-radius: 25px;
  font-size: 0.95rem;
  cursor: pointer;
}

/* Body */

#body {
  overflow-x: hidden;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.detail {
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 1000px;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2.25rem;
  font-weight: 800;
  padding: 0 1rem;
}

p {
  margin: 1.75rem 0;
  font-size: 0.9rem;
  font-weight: lighter;
  line-height: 1.5;
  padding: 0 1rem;
}

.content-download {
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}

.text {
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 1px;
}

.thumbnail-content {
  text-transform: uppercase;
}

.text-content {
  margin: 1rem 0;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.img-download {
}


